<div class="row">
  <div class="col-4">
    <img class="loginImageStyle" src="../../assets/images/login2.png"/>
  </div>

  <div class="col-8">
    <form class="formDivStyle boxStyle">
      <div class="form-group">
        <h4 class="headingTextColor"> Sign into Courtesy Shuttle</h4>
      </div>
      <div class="form-group col-10">
        <select class="custom-select" name="Usertype" [(ngModel)]="UserType" [ngModelOptions]="{standalone: true}">
          <option selected>Choose...</option>
          <option value="OrganizationAdmin">OrgranizationAdmin</option>
          <option value="SuperAdmin">SuperAdmin</option>

        </select>
      </div>

      <div class="form-group col-10">
        <input type="text" class="form-control form-control-lg control-label" name="email" placeholder="User Name" [(ngModel)]="EmailID"/>
      </div>
      <div class="form-group col-10">
        <input type="password" class="form-control form-control-lg control-label" name="password" placeholder="Password" [(ngModel)]="Password"/>
      </div>
      <div class="form-group col-8">
        <button type="submit" class="btn btn-primary vipra-blue-button width-100" (click)="userLogin()">Login</button>
      </div>
      <div>
        <p style="color: #B22222" *ngIf="InvalidUser">* Please enter valid credentials</p>
      </div>
    </form>
  </div>
</div>
