<app-navbar></app-navbar>

<div class="container">
  <div class="row">

    <div class="col-md-12 table-responsive" style="height: fit-content;">
      <h4 class="font-weight-bold text-uppercase"></h4>
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th scope="col">Driver Name</th>
          <th scope="col">Shuttle Name</th>
          <th scope="col">Patron Name</th>
          <th scope="col">Pickup Location</th>
          <th scope="col">Drop Location</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of shuttleDriverDetails">
          <td>{{data.drivername}}</td>
          <td>{{data.shuttlename}}</td>
          <td>{{data.patronname}}</td>
          <td>{{data.pickuplocation}}</td>
          <td>{{data.droplocation}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
